* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
    border: 1px solid;
}

/* header section css  */
header {
    background: rgba(255, 144, 14, 0.1);
    padding-top: 50px;
    margin-bottom: 130px;
}

.header-container {
    max-width: 1440px;
    margin: 0 auto;
}

/* navigation */
nav {
    display: flex;
    justify-content: space-between;
}

.nav-brand {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
}

.nav-items {
    display: flex;
    align-items: center;
    gap: 100px;
}

.nav-items>li {
    list-style: none;
}

.nav-items>li>a {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #424242;
}

/* banner */
.banner {
    text-align: center;
}

.banner-heading {
    font-weight: 700;
    font-size: 4em;
    line-height: 75px;
    color: #131313;
    margin-bottom: 32px;
}

.banner-details {
    font-size: 1em;
    line-height: 26px;
    color: #727272;
    margin-bottom: 32px;
}

.explore-btn {
    background-color: coral;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 23px;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 20px 24px;
    margin-bottom: 50px;
}

.banner-img {
    padding-bottom: 50px;
}