* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
    border: 1px solid;
}

/* header section css  */
header {
    background: rgba(255, 144, 14, 0.1);
    padding-top: 50px;
    margin-bottom: 130px;
}

.header-container {
    max-width: 1440px;
    margin: 0 auto;
}

/* navigation */
nav {
    display: flex;
    justify-content: space-between;
}

.nav-brand {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
}

.nav-items {
    display: flex;
    align-items: center;
    gap: 50px;
}

.nav-items>li {
    list-style: none;
    margin: 10px 0px;
}

.nav-items>li>a {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #424242;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    transition: .4s;
}

.nav-items>li:hover a {
    background-color: #fff;
    color: #000000;
}

/* banner */
.banner {
    text-align: center;
}

.banner-heading {
    font-weight: 700;
    font-size: 4em;
    line-height: 75px;
    color: #131313;
    margin-top: 100px;
    margin-bottom: 32px;
}

.banner-details {
    font-size: 1em;
    line-height: 26px;
    color: #727272;
    margin-bottom: 32px;
}

.explore-btn {
    background-color: #FF900E;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 23px;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 20px 24px;
    margin-bottom: 50px;
}

.banner-img {
    padding-bottom: 50px;
}

.banner-img>img {
    width: 100%;
}

/* features section css */
.features-section {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 130px;
}

.img-container {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.img-container img {
    width: 100%;
}

.text-container {
    margin-bottom: 24px;
}

.text-container .heading {
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
    color: #727272;
}

.text-container .heading-right,
.heading-last {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
}

.text-container .heading-last {
    color: #FF900E;
}

.text-container .details {
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-bottom: 32px;
}

/* features you will love section css */
.features-list-section {
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 150px;
    margin: auto;
    margin-bottom: 130px;
}

.feature-list-container {
    width: 50%;
}

.feature-list-container>.heading {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
    margin-bottom: 24px;
}

.feature-list-container>.details {
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-bottom: 30px;

}

.feature {
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
    padding: 30px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;

}

.sub-heading {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #131313;
    margin-bottom: 10px;
}

.sub-details {
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

.img-section img {
    width: 100%;
}

.btn-experience {
    width: 200px;
    padding: 45px 42px;
    position: relative;
    bottom: 100px;
    right: 100px;
}

/* some facts section css */
.some-facts {
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 130px;
}

.some-facts>h1 {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
    margin-bottom: 24px;

}

.some-facts>p {
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-bottom: 100px;
}

.facts {
    display: flex;
    justify-content: space-around;
    gap: 20px;

}

.fact {
    width: 242px;
    height: 242px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid #FF900E;
    border-radius: 10px;
    /* transform: rotate(90deg); */

}

.fact>span {
    font-weight: 600;
    font-size: 45px;
    line-height: 53px;
    text-align: center;
    color: #424242;
}

.fact>img {
    width: 45px;
}

/* our sponsors section css */
.sponsors {
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 130px;
}

.sponsors>h2 {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
    margin-bottom: 24px;
}

.sponsors>p {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
    margin-bottom: 50px;
}

.sponsors-logo {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

/* for small devices */
@media screen and (max-width:576px) {
    header {
        padding-left: 5%;
        padding-right: 5%;
    }

    nav {
        display: block;
    }

    .nav-items {
        display: block;
    }

    .features-section {
        flex-direction: column;
    }

    .img-container {
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }

    .img-container img {
        width: auto;
    }

    .text-container {
        padding: 5%;
        margin: 20px auto;
    }

    .some-facts {
        padding: 5%;
    }

    .features-list-section {
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        padding: 5%;
    }

    .btn-experience {
        bottom: 0;
        right: 0;
    }

    .facts {
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }

    .sponsors {
        padding: 5%;
    }

    .sponsors-logo {
        flex-direction: column;
    }
}

/* for medium devices */
@media screen and (min-width:577px) and (max-width:778px) {
    header {
        padding-left: 5%;
        padding-right: 5%;
    }

    nav {
        display: block;
    }

    .nav-items {
        display: block;
    }

    .features-section {
        flex-direction: column;
    }

    .img-container {
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }

    .img-container img {
        width: auto;
    }

    .text-container {
        padding: 5%;
        margin: 20px auto;
    }

    .features-list-section {
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        padding: 5%;
    }

    .btn-experience {
        bottom: 0;
        right: 0;
    }

    .some-facts {
        padding: 5%;
    }

    .facts {
        gap: 20px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .sponsors {
        padding: 5%;
    }

    .sponsors-logo {
        flex-wrap: wrap;
    }
}